/* LeftPanel.css */

/* 左侧面板的布局 */
.left-panel {
    display: flex;
    flex-direction: column;  /* 垂直布局 */
    padding: 20px;
    box-sizing: border-box;
}

/* 按钮部分的样式 */
.button-section {
    margin-top: 10px; /* 给按钮部分添加顶部间距 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 0;          /* 去除自动伸展 */
    height: 200px;         /* 设置固定高度，例如 400px，可以根据实际需求调整 */
    overflow-y: auto;      /* 当课程内容超出时，显示滚动条 */
    width: 100%;
}
.calendar-section {
    width: 100%;
    margin-top: 20px;
}
