.app {
  font-family: Arial, sans-serif;
  color: #333;
}

.main-content {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 17%;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.right-panel {
  width: 85%;
  padding: 10px;
  overflow-y: auto;
}

.top-bar {
  height: 50px;
  background: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.form-container{
  position: fixed;  /* 固定在页面上 */
  top: 50%;         /* 垂直居中 */
  left: 50%;        /* 水平居中 */
  transform: translate(-50%, -50%);  /* 完全居中 */
  z-index: 9999;    /* 确保 AddMemo 在最上层 */
  background-color: white;  /* 设置背景色（可选） */
  padding: 20px;           /* 内边距（可选） */
  border-radius: 10px;     /* 圆角（可选） */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果（可选） */
}